#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  font-size: 5rem;
}

.title {
  font-weight: 700;
  font-size: xx-large;
}

.img-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: left;
}

button {
  margin: 5px;
}

p {
  font-size: 20px;
}

img {
  width: 150px;
  height: 150px;
}

section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
